@model IEnumerable<GCS_CO.Models.EmployeeSkill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillPayRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillPayRate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.EmployeeSkillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeSkillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
