@model IEnumerable<GCS_CO.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionAbbrev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionAbbrev)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CityId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
