@{
    ViewBag.Title = "Admin Home";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>TODO: Create User dashboard</p>
   <ul>
        <li><a href="@Url.Action("Index", "Addresses")">Addresses</a></li>
        <li> <a href="@Url.Action("Index", "AddressTypes")">Address Types</a></li>
        <li> <a href="@Url.Action("Index", "AppUsers")">AppUsers</a></li>
        <li><a href="@Url.Action("Index", "Cities")">Cities</a></li>
        <li> <a href="@Url.Action("Index", "Employees")">Employees</a></li>
        <li> <a href="@Url.Action("Index", "EmployeeSkills")">Employee Skills</a></li>
        <li> <a href="@Url.Action("Index", "PostalCodes")">Postal Codes</a></li>
        <li> <a href="@Url.Action("Index", "Regions")">Regions</a></li>
        <li> <a href="@Url.Action("Index", "Skills")">Skills</a></li>
        <li> <a href="@Url.Action("Index", "States")">States</a></li>
   </ul>


</div>